# Maven build
target/
*.class
*.jar
*.war

# Logs
*.log

# IDE files
.idea/
*.iml
.vscode/

# OS files
.DS_Store

# Docker artifacts
*.tar
.env
docker-compose.override.yml

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo